GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change-me
GF_SERVER_ROOT_URL=https://grafana.example.com
GF_SERVER_SERVE_FROM_SUB_PATH=false
GRAFANA_TELEGRAM_BOT_TOKEN=change-me
GRAFANA_TELEGRAM_CHAT_ID=change-me
GRAFANA_SMTP_ENABLED=true
GRAFANA_SMTP_HOST=smtp.example.com:587
GRAFANA_SMTP_USER=change-me
GRAFANA_SMTP_PASSWORD=change-me
GRAFANA_SMTP_FROM_ADDRESS=grafana@example.com
GRAFANA_SMTP_FROM_NAME=Grafana
GRAFANA_SMTP_SKIP_VERIFY=false
GRAFANA_SMTP_STARTTLS_POLICY=MandatoryStartTLS
GRAFANA_EMAIL_ADDRESSES=ops@example.com
